<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071203324593-em6lal9lpca84o0840k4prj2mav13k2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071203324593-em6lal9lpca84o0840k4prj2mav13k2h</string>
	<key>API_KEY</key>
	<string>AIzaSyBgdFJv4SawIkdTqOnL-ZDz6TxKKODSpfI</string>
	<key>GCM_SENDER_ID</key>
	<string>1071203324593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookshop</string>
	<key>PROJECT_ID</key>
	<string>book-project-6c861</string>
	<key>STORAGE_BUCKET</key>
	<string>book-project-6c861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071203324593:ios:90d53559097a5b182b4890</string>
</dict>
</plist>